@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face{
  font-family:'IRANYekan' ;
  src:url('../public/1FDCADEC.TTF' );
 
}


html,
body {
  padding: 0;
  margin: 0;
 font-family: 'IRANYekan';
}

* {
  box-sizing: border-box;
}

.headerItems{
  border-left: 1px solid #747380;
  border-right: 1px solid #747380;
}
.headerItems:hover{
  background-color: #00B5CC;
  height: 65px;
  border-radius: 3px;
}

.menuItems{
  border-top: 1px solid #747380;
  border-bottom: 1px solid #747380;
}
.menuItems:hover,:focus{
  background-color: #00B5CC;
  border-radius: 3px;

}